#chef{
    padding: 70px 0px;
}
.chef-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.chef-text h2{
    font-size: 0.9rem;
    color: var(--text-color-light);
    margin: 0px;
    font-weight: 400;
    font-family:"Open Sans" , "system-ui" ,"-apple-system" ,"Segoe UI", "Roboto" ,"Helvetica Neue" ,"Arial" ,"Noto Sans" ,"Liberation Sans" ,"sans-serif" ,"Apple Color Emoji" ,"Segoe UI Emoji" ,"Segoe UI Symbol" ,"Noto Color Emoji";

}
.chef-text p{
    font-size: 3rem;
    color: var(--text-color);
    font-family: "Amatic SC" ,sans-serif;
    font-weight: 500;
    margin: 0px;
    margin-bottom: 40px;
}
.chef-text p span{
    color: var(--primary-color);
} 

.chef-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.chef-cards .card{
    width: 100%;
    box-shadow: 0px 0px 20px var(--overlay-color);
    border-radius: 20px;
    position: relative;
    /* border: 1px solid red; */
    overflow: hidden;
    transition: all 0.3s ease-out;
}
.chef-cards .card:hover{
    transform: scale(1.05);

}
.chef-img{
    width: 100%;
    position: relative;
}
.chef-cards .card img{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    /* border: 2px solid red; */
}
.chef-cards .card img[alt="layer"]{
    /* border: 2px solid red; */
    position: absolute;
    bottom: -5px;
    height: 40px;
    background-size: cover;
}

.chef-cards .card .chef-layer{
    background-color: var(--bg-color-light);
    position: absolute;
    top: 40px;
    right: 10px;
    border-radius: 10px;
    transform: translateX(120%);
    transition: all .5 linear;
}
.chef-layer ul{
    list-style: none;
    padding: 0;
}
.chef-layer ul li{
    padding: 5px;
}
.chef-layer ul li a{
    padding-inline: 10px;
    color: var(--text-color-light);
    font-size: 1.2rem;
    transition: all .3s linear;
}
.chef-layer ul li a:hover{
    color: var(--text-color);
}
.chef-cards .card:hover .chef-layer{
    animation: slide 0.5s ease-out forwards;
}
@keyframes slide {
    from {
      transform: translateX(120%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: .8;
    }
}

.card-text{
    padding: 10px 30px;
}
.card-text h3{
    font-size: 1.5rem;
    color: var(--text-color);
    font-family:"Open Sans" , "system-ui" ,"-apple-system" ,"Segoe UI", "Roboto" ,"Helvetica Neue" ,"Arial" ,"Noto Sans" ,"Liberation Sans" ,"sans-serif" ,"Apple Color Emoji" ,"Segoe UI Emoji" ,"Segoe UI Symbol" ,"Noto Color Emoji";
    font-weight: 500;
    margin: 0px;
}
.card-text p{
    font-size: 1rem;
    color: var(--text-color-light);
    font-family:"Open Sans" , "system-ui" ,"-apple-system" ,"Segoe UI", "Roboto" ,"Helvetica Neue" ,"Arial" ,"Noto Sans" ,"Liberation Sans" ,"sans-serif" ,"Apple Color Emoji" ,"Segoe UI Emoji" ,"Segoe UI Symbol" ,"Noto Color Emoji";
    margin: 10px 0 10px 0;
}
@media screen and (min-width: 650px) {
    .chef-cards .card{
        width: 80%;
    }
}

@media screen and (min-width: 768px) {
    .chef-cards .card{
        width: 45%;
    }
}
@media screen and (min-width: 992px) {
    .chef-cards .card{
        width: 31%;
    }
}
